export BASE_BRANCH="develop"
export DO_UPDATE_NAME="doUpdate"
export GITLAB_TOKEN="your token"
export GITLAB_USERNAME="your username"
export LOG_LEVEL="debug"
export PATH_TO_REPO="your repo path"
export RENOVATE_GIT_PRIVATE_KEY="your private key"